

.bizetag-loyalty-discount{
  @include clearfix();
  padding-bottom: 10px;
  border-bottom:1px solid #eaeaea;
  .pull-left{
    margin-right: 15px;
    @include screen-size(xs){
      width: 100%;
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
  .form-group{
    display: inline-block;
    width: 90px;
    @include screen-size(xs){
      width: 45%;
    }
    .form-control{
      color: #2c3e50;
      @include placeholder(#2c3e50);
    }
  }
  label{
    color: #2c3e50;
    font-size: 14px;
    vertical-align:text-bottom;
    @include screen-size(xs){
      display: block;
      margin-bottom: 3px;
    }
  }
  span{
    margin-left: 15px;
  }
}