@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i');
html, body{
  min-height: 100%;
  height: 100%;
}


@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetical/helveticaneuebold.eot');
  src: url('../fonts/helvetical/helveticaneuebold.eot') format('embedded-opentype'),
  url('../fonts/helvetical/helveticaneuebold.woff2') format('woff2'),
  url('../fonts/helvetical/helveticaneuebold.woff') format('woff'),
  url('../fonts/helvetical/helveticaneuebold.ttf') format('truetype'),
  url('../fonts/helvetical/helveticaneuebold.svg#helveticaneuebold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetical/helveticaneuebolditalic.eot');
  src: url('../fonts/helvetical/helveticaneuebolditalic.eot') format('embedded-opentype'),
  url('../fonts/helvetical/helveticaneuebolditalic.woff2') format('woff2'),
  url('../fonts/helvetical/helveticaneuebolditalic.woff') format('woff'),
  url('../fonts/helvetical/helveticaneuebolditalic.ttf') format('truetype'),
  url('../fonts/helvetical/helveticaneuebolditalic.svg#helveticaneuebolditalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetical/helveticaneueitalic.eot');
  src: url('../fonts/helvetical/helveticaneueitalic.eot') format('embedded-opentype'),
  url('../fonts/helvetical/helveticaneueitalic.woff2') format('woff2'),
  url('../fonts/helvetical/helveticaneueitalic.woff') format('woff'),
  url('../fonts/helvetical/helveticaneueitalic.ttf') format('truetype'),
  url('../fonts/helvetical/helveticaneueitalic.svg#helveticaneueitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetical/helveticaneuelight.eot');
  src: url('../fonts/helvetical/helveticaneuelight.eot') format('embedded-opentype'),
  url('../fonts/helvetical/helveticaneuelight.woff2') format('woff2'),
  url('../fonts/helvetical/helveticaneuelight.woff') format('woff'),
  url('../fonts/helvetical/helveticaneuelight.ttf') format('truetype'),
  url('../fonts/helvetical/helveticaneuelight.svg#helveticaneuelight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetical/helveticaneuemedium.eot');
  src: url('../fonts/helvetical/helveticaneuemedium.eot') format('embedded-opentype'),
  url('../fonts/helvetical/helveticaneuemedium.woff2') format('woff2'),
  url('../fonts/helvetical/helveticaneuemedium.woff') format('woff'),
  url('../fonts/helvetical/helveticaneuemedium.ttf') format('truetype'),
  url('../fonts/helvetical/helveticaneuemedium.svg#helveticaneuemedium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetical/helveticaneue.eot');
  src: url('../fonts/helvetical/helveticaneue.eot') format('embedded-opentype'),
  url('../fonts/helvetical/helveticaneue.woff2') format('woff2'),
  url('../fonts/helvetical/helveticaneue.woff') format('woff'),
  url('../fonts/helvetical/helveticaneue.ttf') format('truetype'),
  url('../fonts/helvetical/helveticaneue.svg#helveticaneue') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-Bold.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-It.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-It.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-It.svg#MyriadPro-It') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family:'MyriadPro';
  src: url('../fonts/MyriadPro/MyriadPro-BoldIt.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-BoldIt.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-BoldIt.svg#MyriadPro-BoldIt') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-BoldIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "MyriadProCond";
  src: url('../fonts/MyriadPro/MyriadPro-Cond.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-Cond.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProCond";
  src: url('../fonts/MyriadPro/MyriadPro-BoldCond.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-BoldCond.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-BoldCond.svg#MyriadPro-BoldCond') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-BoldCond.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MyriadProCond";
  src: url('../fonts/MyriadPro/MyriadPro-CondIt.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-CondIt.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-CondIt.svg#MyriadPro-CondIt') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-CondIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MyriadProCond";
  src: url('../fonts/MyriadPro/MyriadPro-BoldCondIt.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-BoldCondIt.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-BoldCondIt.svg#MyriadPro-BoldCondIt') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-BoldCondIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "MyriadPro";
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot?') format('eot');
  src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FreightBigProSemiBold';
  src: url('../fonts/FreightBigProSemiBold/FreightBigProSemiBold.eot');
  src: url('../fonts/FreightBigProSemiBold/FreightBigProSemiBold.eot') format('embedded-opentype'),
  url('../fonts/FreightBigProSemiBold/FreightBigProSemiBold.woff2') format('woff2'),
  url('../fonts/FreightBigProSemiBold/FreightBigProSemiBold.woff') format('woff'),
  url('../fonts/FreightBigProSemiBold/FreightBigProSemiBold.ttf') format('truetype'),
  url('../fonts/FreightBigProSemiBold/FreightBigProSemiBold.svg#FreightBigProSemiBold') format('svg');
}


body{
  margin: 0;
  padding: 0;
  background: #eeeeee;
  @include Roboto();
  color: $color-main;
  font-size: 14px;
  line-height: 1.2;
}

img{
  max-width: 100%;
}

.fill{
  height: 100%;
  min-height: 100%;
}

a{
  color: $color-main;
  text-decoration: none;
  &:hover{
    color:$color-link-hover;
  }
}

.main-content{
  margin-left: 23.33%;
  position: relative;
  padding-top: 64px;
  @include screen-size-max(sm){
    height: auto;
  }
  @include screen-size(xs){
    margin-left: 0;
  }
}

.clearfix{
  clear: both;
  @include clearfix();
}

/* navigator top */
.navigator-top{
  position: absolute;
  padding-right: 32px;
  height: 58px;
  border-top:2px solid $color-nav;
  top:0;
  left: 0;
  right: 0;
  .btn-right{
    position: absolute;
    top:-2px;
    right: 0;
    width: 32px;
    height: 58px;
    background: $color-nav;
    color:$white;
    text-align: center;
    line-height: 58px;
  }
  .slide-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    @include clearfix();
    background: #71bdf0;
    position: static;
    .slick-prev{
      display: none !important;
    }
    .slick-next{
      position: absolute;
      top:-2px;
      right: 0;
      width: 32px;
      height: 58px;
      background: $color-nav;
      color:$white;
      text-align: center;
      line-height: 58px;
      border: none;
      cursor: pointer;
      font-size: 0;
      &:after{
        @extend .fa;
        content: "\f0d9";
        position: absolute;
        top:50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        font-size: 14px;
      }
    }
    .slick-track{
      .item{
        float: left;
        width: 203px;
        a{
          display: block;
          height: 56px;
          text-align: center;
          text-transform: uppercase;
          color:$white;
          font-size: 14px;
          padding-top: 5px;
          background: #71bdf0;
          &.clr-1{
            background: #2b89c9;
          }
          &.clr-2{
            background: #3998d8;
          }
          &.clr-3{
            background: #50a6e0;
          }
          &.clr-4{
            background: #60b1e8;
          }
          &.clr-5{
            background: #71bdf0;
          }
        }
      }
    }
  }
}
/* e: navigator top */

/* layout */
.row{
  padding: 6px 3px;
  @include clearfix();
  &.fill{
    @include screen-size-max(sm){
      height: auto;
    }
  }
  .main-col{
    float: left;
    width: 70%;
    padding: 0 3px;
    @include screen-size-max(sm){
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .right-col{
    padding: 0 3px;
    width: 30%;
    float: left;
    @include screen-size-max(sm){
      width: 100%;
    }
    .bgr-col{
      @include screen-size-max(sm){
        height: 500px;
      }
    }
  }
}

.bgr-col{
  @include box-shadow(0 1px 4px rgba($black,0.11));
  border:1px solid rgba(#e5e5e5,0.81);
  @include border-radius(5px);
  background: #fff;
  &.fill{
    @include screen-size-max(sm){
      height: auto;
    }
  }
}
.wrapper{
  position: relative;
  height: 100%;
  min-height: 100%;
  @include screen-size-max(sm){
    height: auto;
  }
  @include screen-size(xs){
    overflow-x: hidden;
  }
}
/* layout */

/* color */
.clr-green{
  color: #00bd31 !important;
}
.clr-blue{
  color:#50a6e0 !important;
}
.clr-gray{
  color:#5d5d5d !important;;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-justify{
  text-align: justify;
}
/* e: color */

/* form */
label{
  color:#354753;
  font-weight: normal;
  font-size: 16px;
}


.form-control{
  border:none;
  border-bottom:1px solid #eaeaea;
  font-size: 14px;
  @include Roboto();
  color:#969696;
  @include placeholder(#969696);
  width: 100%;
  padding: 15px 5px 5px;
}

.form-group{
  position: relative;
  margin-bottom: 10px;
  .required{
    position: absolute;
    bottom:3px;
    right:5px;
    color:#e60016;
    font-size: 14px;
  }
  select{
    &+.required{
      right:-6px;
      margin-top: 2px;
    }
  }
}
/* e: form */

/* grid */
.row-item{
  margin: 0 -20px;
  @include clearfix();
  .col-50{
    width: 50%;
    padding: 0 20px;
    float: left;
    @include screen-size(xs){
      width: 100%;
    }
  }

  .col-100{
    width: 100%;
    float: left;
    padding: 0 20px;
  }
}
/* e:grid */