.e-tag-management{
  padding: 0 7px;
  .form-group{
    margin-bottom: 0;
  }
  .row-item{
    margin-bottom: 24px;
  }
  .e-tag-name{
    input{
      color:#50a6e0;
      border-bottom-color: #50a6e0;
      @include placeholder(#50a6e0);
    }
    .text-right{
      color:#c5c5c5;
      font-weight: 300;
      margin-top: 3px;
      margin-bottom: 0;
    }
  }

  .e-tag-des{
    input{
      border:1px solid #e8e8e8;
      margin-top:38px;
      padding-top: 10px;
      padding-bottom: 6px;
      @include screen-size(xs){
        margin-top: 15px;
      }
    }
  }
}