header{
  background: #263849;
  position: absolute;
  top:0;
  left: 0;
//  bottom: 0;
  width: 23.33%;
//  width: 25%;
  min-height: 100%;
  @include screen-size(xs){
    position: relative;
    min-height: 1px;
    width: 100%;
    top: auto;
    left: auto;
  }
  .bg-logo{
    background: #2c3e50;
    padding: 20px 0;
    @include screen-size(xs){
      padding: 10px 0;
    }
  }
  .logo{
    width: 83px;
    height: 83px;
    max-width: 100%;
    line-height: 83px;
    position: relative;
    margin: auto;
    @include box-shadow(0 1px 10px rgba($black,0.08));
    text-align: center;
    @include screen-size(xs){
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    img{
      vertical-align: middle;
      max-height: 83px;
      @include screen-size(xs){
        max-height: 60px;
      }
    }
    a{
      line-height: normal;
      position: absolute;
      font-size: 10px;
      color: $white;
      bottom: 5px;
      right: 5px;
      @include Roboto();
      font-weight: 300;
      z-index: 2;
      @include screen-size(xs){
        bottom: 0;
      }
    }
  }

  nav{
    font-size: 14px;
    @include screen-size(xs){
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top:80px;
      background: #263849;
      z-index: 999;
      @include transform(translateX(100%));
      @include transition-value(all ease 0.5s);
    }
    a{
      color: $white;
      i{
        vertical-align: middle;
      }
    }
    .checkin-request{
      .check-in{
        @include clearfix();
        @include MyriadPro();
        padding: 8px 15px;
        .pull-left{
          i{
            margin-right: 6px;
          }
        }
        .pull-right{
          @include HelveticaNeue();
          font-weight: 300;
          color: $color-link-nav;
          margin-top: 4px;
        }
      }
      ul{
        list-style: none;
        margin: 0;
        padding: 0 10px 55px;
        background: #34495e;
        li{
          border-bottom:1px dashed #415466;
          padding: 12px 5px;
          a{
            position: relative;
            padding-left: 40px;
            i{
              left: 0;
              top:50%;
              @include transform(translateY(-50%));
              position: absolute;
            }
          }
        }
      }
    }

    .nav-bottom{
      list-style: none;
      padding: 0;
      margin: 0 15px;
      font-size: 14px;
      text-align: center;
      li{
        border-top:1px solid rgba($white,0.05);
        padding-bottom: 11px;
        padding-top: 13px;
        &:first-child{
          border-top: none;
        }
        a{
          text-shadow: 0 1px 2px rgba($black,0.35);
          i{
            margin-bottom: 7px;
          }
        }
      }
    }
  }
  &.open-menu{
    nav{
      @include screen-size(xs){
        @include transform(translateX(0));
      }
    }
  }
}

.toggle-menu{
  display: none;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color:#fff;
  font-size: 20px;
  cursor: pointer;
  @include screen-size(xs){
    display: inline-block;
  }
}