$screen-lg:1200px;
$screen-lg-min:1200px;
$screen-md-max:1199px;
$screen-md-min:992px;
$screen-sm-max:991px;
$screen-sm-min:768px;
$screen-xs-max:767px;

$color-main:#343434;
$color-link-hover:#2b89c9;
$white:#fff;
$black:#000;
$color-link-nav:#57bdde;

